Pre-processing the data before implementing the ML models

In [1]:
import pandas as pd

# Loading the dataset
data = pd.read_csv('data/bank-additional-full.csv' , sep=';')

# Basic Info
data_info = {
    "columns" : data.columns.tolist(),
    "head" : data.head()
}

data_info

{'columns': ['age',
  'job',
  'marital',
  'education',
  'default',
  'housing',
  'loan',
  'contact',
  'month',
  'day_of_week',
  'duration',
  'campaign',
  'pdays',
  'previous',
  'poutcome',
  'emp.var.rate',
  'cons.price.idx',
  'cons.conf.idx',
  'euribor3m',
  'nr.employed',
  'y'],
 'head':    age        job  marital    education  default housing loan    contact  \
 0   56  housemaid  married     basic.4y       no      no   no  telephone
 1   57   services  married  high.school  unknown      no   no  telephone
 2   37   services  married  high.school       no     yes   no  telephone
 3   40     admin.  married     basic.6y       no      no   no  telephone
 4   56   services  married  high.school       no      no  yes  telephone

   month day_of_week  ...  campaign  pdays  previous     poutcome emp.var.rate  \
 0   may         mon  ...         1    999         0  nonexistent          1.1
 1   may         mon  ...         1    999         0  nonexistent          1.1
 2   may         mon  ...         1    999         0  nonexistent          1.1
 3   may         mon  ...         1    999         0  nonexistent          1.1
 4   may         mon  ...         1    999         0  nonexistent          1.1

    cons.price.idx  cons.conf.idx  euribor3m  nr.employed   y
 0          93.994          -36.4      4.857       5191.0  no
 1          93.994          -36.4      4.857       5191.0  no
 2          93.994          -36.4      4.857       5191.0  no
 3          93.994          -36.4      4.857       5191.0  no
 4          93.994          -36.4      4.857       5191.0  no

 [5 rows x 21 columns]}

In [2]:
# Checking for missing Values
missing_values_count = data.isna().sum()
missing_values_count

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

Checking data type of the column

In [3]:
# Display column names and data types
print("Column Names and Data Types:")
print(data.dtypes)

Column Names and Data Types:
age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

Identifying categories of the categorical columns

In [4]:
# Identify categorical columns and display unique categories
categorical_columns = data.select_dtypes(include=['object', 'category']).columns

print("\nCategorical Columns and Their Categories:")
for col in categorical_columns:
    print(f"{col}: {data[col].unique()}")

Categorical Columns and Their Categories:
job: ['housemaid' 'services' 'admin.' 'blue-collar' 'technician' 'retired'
 'management' 'unemployed' 'self-employed' 'unknown' 'entrepreneur'
 'student']
marital: ['married' 'single' 'divorced' 'unknown']
education: ['basic.4y' 'high.school' 'basic.6y' 'basic.9y' 'professional.course'
 'unknown' 'university.degree' 'illiterate']
default: ['no' 'unknown' 'yes']
housing: ['no' 'yes' 'unknown']
loan: ['no' 'yes' 'unknown']
contact: ['telephone' 'cellular']
month: ['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'mar' 'apr' 'sep']
day_of_week: ['mon' 'tue' 'wed' 'thu' 'fri']
poutcome: ['nonexistent' 'failure' 'success']
y: ['no' 'yes']

Duration column is removed from the dataset because the dataset description denotes it as a data leakage attribute

In [5]:
data = data.drop(columns=['duration'])

In [6]:
print(data.dtypes)

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

__Checking for Duplicates__

In [7]:
data.duplicated().sum()

1784

Investigating the revealed duplicates

In [8]:
data[data.duplicated]

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
31,59,technician,married,unknown,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
104,52,admin.,divorced,university.degree,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39985,27,admin.,single,high.school,no,no,no,cellular,jun,tue,2,999,0,nonexistent,-1.7,94.055,-39.8,0.761,4991.6,yes
40401,31,student,single,unknown,no,yes,no,cellular,aug,thu,2,999,0,nonexistent,-1.7,94.027,-38.3,0.904,4991.6,yes
40404,41,entrepreneur,married,university.degree,no,yes,no,cellular,aug,thu,1,999,0,nonexistent,-1.7,94.027,-38.3,0.904,4991.6,yes
40806,35,technician,married,professional.course,no,yes,no,cellular,sep,thu,1,999,2,failure,-1.1,94.199,-37.5,0.878,4963.6,no
40840,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6,no

__Transforming Categorical Data into numerical__

In [9]:
from sklearn.preprocessing import LabelEncoder

# Transforming categorical columns to numerical
cols = data.select_dtypes("object").columns
le = LabelEncoder()
data[cols] = data[cols].apply(le.fit_transform)

__Extracting new dataset__

In [10]:
data.to_csv('data/bank-additional-full-preprocessed.csv', index=False)